.search {
    display: inline-block;
}

.sort {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.login-logout {
    float: right;
    margin: 10px;
}

#main-link {
    margin: 10px;
}

#app-name {
    font-size: 20px;
    color: #fdfdfd;
}

#delete-confirm {
    padding: 20px;
    font-size: 20px;
}

select {
    color: #262d60;
}