{% extends "base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            <nav class="navbar navbar-dark bg-primary">
                <p id="app-name" class="navbar-text">Cars</p>
                <div class="sort">{% include 'cars/sort.html' %}</div>
            </nav>
                {% for car in car_list %}
                    <li role="presentation"><a href="{{ car.get_absolute_url }}">{{ car.mark }} | {{ car.series }} | {{ car.engine }}</a></li>
                {% endfor %}
            </ul>
        </div>
    <div class="panel-footer"><a class="btn btn-info"  role="button" href="/cars/create/"><b>Create new car</b></a></div>
    </div>
{% endblock %}