{% block content %}
    <form action="" method="get" accept-charset="utf-8">
    Sort by
        <select name="by" class="selectpicker">
            <option>Mark</option>
            <option>Series</option>
            <option>Body</option>
            <option>Cost</option>
            <option value="engine__horsepower">Power</option>
            <option value="engine__capacity">Capacity</option>
        </select>
        <select name="in" class="selectpicker">
            <option value="">in ascending order</option>
            <option value="-">in decreasing order</option>
        </select>
      <button class="btn btn-info btn-sm" type="submit">Enter</button>
    </form>
{% endblock %}